@charset "UTF8";





@media screen and (min-width: 768px) {

    h1>span {

        font-size: 50px;
    }

    .carro {

        width: 100%;
        height: 70vh;
        display: flex;
    }

    li {

        font-size: 20px;
        color: #000;
        border-radius: 200px;
    }



    .placa > img  {

        width: 50%;
        height: 100%;
        left: 50px;
        right: 100%;
        bottom: 50%;
        
    }

    a img {

        /* icones */
      
        width: 60px;
        height: 60px;
        margin: 18px;
        text-align: center;
        padding: 5px;
        margin-top: 0px;

   }

   footer {
    /* rodapé */
  
  
    background-color: #000;
    width: 100%;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 60px;
    margin: -20px;
  
  }




}


@media screen and (max-width: 480px) {


    h1 {

        font-size: 28px;
        text-align: center;
        
    }


    .carro {

        width: 105%;
    }


    .placa > img {

        display: flex;
        width: 105%;
        height: 262px;
        margin-bottom: 30px;
       
    }

    footer {

        font-size: 15px;
    }

}