@charset "UTF-8";



@media (max-width: 991px) {
	body {
		width: 33.33%;
	}
}

@media (max-width: 767px) {
	body {
		width: 50%;
	}

}

@media (max-width: 500px) {
	body {
		padding: 30px 10px;
	}
}















