@charset "UTF-8";



@media (max-width: 991px) {
	.element-item {
		width: 33.33%;
	}
}

@media (max-width: 767px) {
	.element-item {
		width: 50%;
	}

	#site-header .pull-right {
		float: none !important;
	}

	.copyright, .designed-by {
		text-align: center;
	}
}

@media (max-width: 500px) {
	.contact-info {
		padding: 30px 10px;
	}
}

@media only screen and (max-width : 640px) {
    .parallax{
    background: url(../video/video.jpg) no-repeat center center fixed #444;
    background-attachment: fixed !important;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}













