@charset "UTF-8";


* {
    padding: 0;
    margin: 0;
    

}


@media (min-width: 600px)
{
  
  .multa  img {

        display: none;
    }

}



@media (min-width: 1200px)
{
  
  .multa  img {

        display: none;
    }

}
