@media screen and (max-width: 760px) {

  * {

    margin: 0%;
    padding: 0%;

  }

  h1 {

    width: 100vw;
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
    color: white;
    background-color: rgb(66, 62, 62);


  }

  img {

    width: 100vw;
  }

  li {

    text-decoration: left;
    font-size: 14px;
    width: 85%;
    height: 85%;
    padding: auto;
    margin-right: 10px;
    color: black;
  }


  /*.multas {

    width: 95%;
    height: 300px;
    margin: 10px;
  } */


 

  /*.multas {
    display: none;
    width: 10vw;
    height: 10vh;
    margin: 10px;
  } */


  footer {
    font-size: 8px;
    padding: auto;
    margin: auto;
    width: 10px;
  }

  footer a {

    display: center;
    margin: 6px;
    height: 50px;
    font-size: 10px;
    padding: auto;
  }

  footer {

    width: 0%;
    padding: 5px;
    font-size: 12px;
    margin: 10px;
    margin-right: 10px;

  }

--------------------------------------------

  .float .btn-floating {
    width: 260px !important;
    height: auto !important;
    border-radius: 5px !important;
    text-align: left;
    font-size: 0.9em !important;
    background-color: #34af23;
  }

}